{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
{% for home in books %}
<article>
    <h2><a class="articleTitle" href="{{ path('book', { 'id': home.id }) }}">{{ home.title }}</a></h2>
    <p>{{ home.content }}</p>
</article>
{% endfor %}
{% endblock %}

{# 
	Effectue moins de demande en visant les fonctions précis : 

    <h2><a class="articleTitle" href="{{ path('book', { 'id': home.getId() }) }}">{{ home.getTitle() }}</a></h2>
    <p>{{ home.getContent() }}</p>
    <p>{{ home.getISBN() }}</p>
#}